.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 10px solid rgb(90, 54, 221);
    border-right: 10px solid rgb(90, 54, 221);
    border-left: 10px solid rgb(90, 54, 221);
    border-top: 10px solid rgb(90, 54, 221);
    width: 400px;
    text-align: center ;
    box-shadow: 4px 4px 5px #888888;
}


img{
    width: 450px;
    height: 300px;
    margin: 12px;
    transition: all 1s;
    
    
}

img:hover{
    transform: scale(1.1);
}